* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body {
    background-image: url(./assets/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header{
    padding-top: 32px;
    height: calc(120px + 32px);
}

header div{
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    
    border-radius: 50%;

    display: flex;
    padding: 4px;

    transition: transform .3s;

}

header div:hover{
    transform: scale(1.1);
}

header img {
    width: 100%;
    border-radius: 50%
}

main{
    max-width: 580px;
    width: 90%;
    margin: 32px auto;

    display: grid;
    gap: 24px;

}

section {
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;   
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    margin-top: 24px;
}

section ul li{
    transition: transform .3s;
}

section ul li:hover{
    transform: scale(1.1);
}

.games-list img {
    width: 90px;
    border-radius: 8px;
}

.channel-list img {
    width: 70px;
    border-radius: 50%;
    border: 1px solid #443E54;
}

/*Animation*/

header div{
    animation: fromTop .7s 1s backwards;
}

main section{
    animation: fromLeft .7s 1s backwards
}

main section:nth-child(1) {
    animation-delay: 0s;
}

main section:nth-child(2) {
    animation-delay: .4s;
}

main section:nth-child(3) {
    animation-delay: .8s;
}

/*Animation Section 1*/

main section:nth-child(1) ul li{
    animation: fromRight 1.2s 1.2s backwards;
}

main section:nth-child(1) ul li:nth-child(1){
    animation-delay: 1.2s;
}

main section:nth-child(1) ul li:nth-child(2){
    animation-delay: 1.5s;
}

main section:nth-child(1) ul li:nth-child(3){
    animation-delay: 1.8s;
}

main section:nth-child(1) ul li:nth-child(4){
    animation-delay: 2.1s;
}

main section:nth-child(1) ul li:nth-child(5){
    animation-delay: 2.4s;
}

/*Animation Section 2*/

main section:nth-child(2) ul li{
    animation: fromRight 1.2s 1.2s backwards;
}

main section:nth-child(2) ul li:nth-child(1){
    animation-delay: 1.2s;
}

main section:nth-child(2) ul li:nth-child(2){
    animation-delay: 1.5s;
}

main section:nth-child(2) ul li:nth-child(3){
    animation-delay: 1.8s;
}

main section:nth-child(2) ul li:nth-child(4){
    animation-delay: 2.1s;
}

main section:nth-child(2) ul li:nth-child(5){
    animation-delay: 2.4s;
}

main section:nth-child(2) ul li:nth-child(6){
    animation-delay: 2.7s;
}

/*Animation Section 3*/

main section:nth-child(3) ul li{
    animation: fromRight 1.2s 1.2s backwards;
}

main section:nth-child(3) ul li:nth-child(1){
    animation-delay: 1.2s;
}

main section:nth-child(3) ul li:nth-child(2){
    animation-delay: 1.5s;
}

main section:nth-child(3) ul li:nth-child(3){
    animation-delay: 1.8s;
}

main section:nth-child(3) ul li:nth-child(4){
    animation-delay: 2.1s;
}

main section:nth-child(3) ul li:nth-child(5){
    animation-delay: 2.4s;
}

main section:nth-child(3) ul li:nth-child(6){
    animation-delay: 2.7s;
}

@keyframes fromTop{
    from{
        opacity: 0;
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromLeft {
    from{
        opacity: 0;
        transform: translateX(-30px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fromRight {
    from{
        opacity: 0;
        transform: translateX(30px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}
